*.log  
*.plg  
*.bak  
*.uvguix.Administrator
*.dep  
*.uvgui.*  
JLinkLog.txt    
*.d  
*.crf  
*.tra  
*.axf   
*.lnp  
*.sct  
*.__i  
*.htm  
*.hex
*.lst
*.bin
*.map
*.d
*.crf
*.map
*.doc
*docx
MDK-ARM/MC_F722/
*.txt
Template/Project/Objects/*
*.uvguix.*
