*.log  
*.plg  
*.bak  
*.uvguix.Administrator
*.dep  
*.uvgui.*  
JLinkLog.txt    
*.d  
*.crf  
*.tra  
*.axf   
*.lnp  
*.sct  
*.__i  
*.htm  
*.hex
*.lst
*.bin
*.map
*.d
*.crf
*.map
*.doc
*docx
MDK-ARM/MC_F722/
Code/Project/Objects/*
*.uvguix.*
Code/Project/*.uvoptx
Code/Project/*.scvd
Code/Project/*.bin
Code/Project/Listings/*
Code/Project/*.uvguix.*
